extends layouts/base

block content
  .Frontpage
    #HeroSection.HeroSection
      include ./blocks/Navbar-heroSection
      a.Logo.HeroSection_logo.hidden-mdPlus(href="/", title="Квартал на Серафимовича")
        img.Logo_img(src="/img/logo_white.svg", alt="Квартал на Серафимовича")
      .CircleIcons.HeroSection_icons.hidden-mdPlus
        a.CircleIcon.CircleIcon-phone(href="tel:+73833054111")
        a.CircleIcon.CircleIcon-menuHamburger(href="#")
      .Contacts.HeroSection_contacts.hidden-smMinus
        a.Phone.HeroSection_phone(href="tel:+73833054111") +7 383 305-41-11
        a.OrderCall.HeroSection_orderCall(href="#") Заказать звонок
      .HeroSlider
        .swiper-container.HeroSlider_container
          .swiper-wrapper
            - for (let i = 0; i < 4; i++) {
              .swiper-slide
                .HeroSlide(style="background-image: url('/img/hero_slide_img.webp')")
                  .HeroSlide_text
                    p Жилой комплекс бизнес-класса на ул. Серафимовича
                  h2.SectionTitle.SectionTitle-white.HeroSlide_title Новый уровень благоустройства
            - }
          .SwiperPagination.HeroSlider_pagination
          button.CircleBtn.CircleBtn-next.HeroSlider_circleBtn.hidden-smMinus(type="button")
      a.BtnOutline.hidden-smPlus.HeroSection_btn(href="#ApartmentChoosing") Выбрать квартиру

    .ContactsBlock.hidden-smMinus
      .ContactsBlock_left
        a.Phone.ContactsBlock_phone(href="tel:+73833054111") +7 383 305-41-11
        a.OrderCall.ContactsBlock_orderCall(href="#") Заказать звонок
      .ContactsBlock_right
        a.BtnOutline(href="#ApartmentChoosing") Выбрать квартиру
    .About
      include ./blocks/LeftSidebar
      .About_container
        h2.SectionTitle.About_title О проекте
        .About_text
          p Квартал на «Серафимовича» — это невысокие, полностью кирпичные дома, 9 этажей, в комплексе спроектирован подземный теплый паркинг. Комплекс будет состоять из 2-х домов (195 квартир)
          p Все квартиры в квартале на Серафимовича сдаются под чистовую отделку. #[br.hidden-mdPlus]Стены выровнены и оштукатурены. На полу - стяжка. Установлены окна и двери. Сделана разводка по электрики и водоснабжению.
        .Statistics.About_statistics
          ul.Statistics_list
            li.Statistics_item
              .Statistics_number 195
              .Statistics_text квартир
            li.Statistics_item
              .Statistics_number 9
              .Statistics_text этажей
            li.Statistics_item
              .Statistics_number 2
              .Statistics_text дома
        .CircleImg.About_circleImg
          img.CircleImg_img(src="/img/about_img.webp", alt="О проекте")
    .Location.Frontpage_location
      .Location_container
        .Location_textWrapper
          h2.SectionTitle.SectionTitle-brown.Location_title Расположение
          .Location_text
            p Это самый центр левобережья: здесь много школ, детских садов, торговых центров, клиник, развлекательных мест и фитнес-залов. Буквально в квартале расположен сквер Славы с Вечным огнем и красивыми зелеными аллеями, а по пути к метро — сквер Сибиряков-Гвардейцев.
    .Advantages
      include ./blocks/LeftSidebar-white
      h2.SectionTitle.SectionTitle-white.Advantages_title.hidden-smPlus Все самое #[br]лучшее — для вас
      #AdvantagesSlider.AdvantagesSlider.hidden-smPlus
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .Advantage.Advantage-modernArchitecture.Advantages_item
                .Advantage_imgWrapper
                  .Ratio.Ratio-32x40
                    img.Ratio_item.Advantage_img(src="/img/advantage_1.png", alt="")
                .Advantage_textWrapper
                  h3.Advantage_title Современная #[br]архитектура
                  .Advantage_text
                    p Квартал на «Серафимовича» - это невысокие, полностью кирпичные дома, 9 этажей, в комплексе спроектирован подземный теплый паркинг. Комплекс будет состоять из 2-х домов (195 квартир)
            .swiper-slide
              .Advantage.Advantage-mop.Advantages_item
                .Advantage_imgWrapper
                  .Ratio.Ratio-32x40
                    img.Ratio_item.Advantage_img(src="/img/advantage_3.png", alt="")
                .Advantage_textWrapper
                  h3.Advantage_title Современные МОПы
                  .Advantage_text
                    p Все квартиры в квартале на Серафимовича сдаются под чистовую отделку. Стены выровнены и оштукатурены. На полу - стяжка. Установлены окна и двери. Сделана разводка по электрики и водоснабжению. Есть розетки и выключатели.
            .swiper-slide
              .Advantage.Advantage-apartments.Advantages_item
                .Advantage_imgWrapper
                  .Ratio.Ratio-32x40
                    img.Ratio_item.Advantage_img(src="/img/advantage_4.png", alt="")
                .Advantage_textWrapper
                  h3.Advantage_title Малое количество #[br]квартир
                  .Advantage_text
                    p Квартал на «Серафимовича» — это невысокие, полностью кирпичные дома, 9 этажей, в комплексе спроектирован подземный теплый паркинг. Комплекс будет состоять из 2-х домов (195 квартир)
      .Advantages_container.hidden-xs
        .Advantage.Advantage-modernArchitecture.Advantages_item
          .Advantage_imgWrapper
            img.Advantage_img.hidden-smMinus(
              src="/img/advantage_1.png",
              alt="Все самое лучшее — для вас"
            )
            img.Advantage_img.hidden-mdPlus(
              src="/img/advantage_1_tablet.png",
              alt="Все самое лучшее — для вас"
            )
            h2.SectionTitle.Advantage_sectionTitle Все самое #[br]лучшее — для вас
          .Advantage_textWrapper
            h3.Advantage_title Современная #[br]архитектура
            .Advantage_text
              p Квартал на «Серафимовича» - это невысокие, полностью кирпичные дома, 9 этажей, в комплексе спроектирован подземный теплый паркинг. Комплекс будет состоять из 2-х домов (195 квартир)
        .Advantage.Advantage-mop.Advantages_item.Advantages_item-mop
          .Advantage_imgWrapper
            img.Advantage_img.hidden-smMinus(src="/img/advantage_2.png", alt="Современные МОПы")
            img.Advantage_img.hidden-mdPlus(
              src="/img/advantage_2_tablet.png",
              alt="Современные МОПы"
            )
            img.Advantage_img.Advantage_img-overlay.hidden-smMinus(
              src="/img/advantage_3.png",
              alt="Современные МОПы"
            )
            img.Advantage_img.Advantage_img-overlay.hidden-mdPlus(
              src="/img/advantage_3_tablet.png",
              alt="Современные МОПы"
            )
          .Advantage_textWrapper
            h3.Advantage_title Современные МОПы
            .Advantage_text
              p Все квартиры в квартале на Серафимовича сдаются под чистовую отделку. Стены выровнены и оштукатурены. На полу - стяжка. Установлены окна и двери. Сделана разводка по электрики и водоснабжению. Есть розетки и выключатели.
        .Advantage.Advantage-apartments.Advantages_item
          .Advantage_imgWrapper
            img.Advantage_img.hidden-smMinus(
              src="/img/advantage_4.png",
              alt="Малое количество квартир"
            )
            img.Advantage_img.hidden-mdPlus(
              src="/img/advantage_4_tablet.png",
              alt="Малое количество квартир"
            )
          .Advantage_textWrapper
            h3.Advantage_title Малое количество #[br]квартир
            .Advantage_text
              p Квартал на «Серафимовича» — это невысокие, полностью кирпичные дома, 9 этажей, в комплексе спроектирован подземный теплый паркинг. Комплекс будет состоять из 2-х домов (195 квартир)
    .PlanningSolutions.Tabs
      .PlanningSolutions_header
        h2.SectionTitle.SectionTitle-brown.PlanningSolutions_title Планировочные #[br]решения
        .Tabs_listWrapper
          ul.Tabs_list
            li.Tabs_item.Tabs_item-active(data-index="0") Студии
            li.Tabs_item(data-index="1") 1-комнатные
            li.Tabs_item(data-index="2") 2-комнатные
            li.Tabs_item(data-index="3") 3-комнатные
      .PlanningSolutions_content.Tabs_container
        - for (var i = 0; i < 4; i++)
          if i == 0
            - var style = 'display: block;';
          else
            - var style = '';
          .Tabs_content(style=style)
            .PlanningSolutionsSlider.Container.Container-planningSolutionsSlider(
              id='PlanningSolutionsSlider' + i
            )
              .swiper-container
                .swiper-wrapper
                  - for(var j = 0; j < 7; j++) {
                    .swiper-slide.PlanningSolutionsSlider_slide
                      include ./blocks/PlanSolution
                  - }
                .SwiperPagination.SwiperPagination-darkBlue.PlanningSolutionsSlider_pagination
            button.CircleBtn.CircleBtn-brown.CircleBtn-next.PlanningSolutionsSlider_circleBtn.hidden-smMinus(
              type="button"
            )
    #ApartmentChoosing.ApartmentChoosing
      include ./blocks/LeftSidebar
      .ApartmentChoosing_left
        .ApartmentChoosing_leftInner
          .ApartmentChoosing_leftHeader.hidden-mdPlus
            button.ApartmentChoosing_closeBtn(type="button", data-action="closeHousePlan")
            h3.ApartmentChoosing_subtitle 5 этаж
          h2.SectionTitle.ApartmentChoosing_title.hidden-smMinus Выбор квартиры
          .HousePlan.ApartmentChoosing_housePlan
            img.HousePlan_img(src="/img/house_plan.png", alt="План дома")
            include includes/floor_plan_svg
            template#estateObjCardTpl
              .RealEstate
                h4.RealEstate_title  комнатная
                .RealEstate_textWrapper
                  .RealEstate_apartmentNumber Квартира №
                  ul.RealEstate_characteristics
                    li.RealEstate_characteristic
                      .RealEstate_characteristicName Площадь: 
                      .RealEstate_characteristicValue.RealEstate_characteristicValue-footage м #[sup 2]
                    li.RealEstate_characteristic
                      .RealEstate_characteristicName Стоимость: 
                      .RealEstate_characteristicValue.RealEstate_characteristicValue-price  ₽
      .ApartmentChoosing_right
        h3.ApartmentChoosing_subtitle.hidden-smMinus 5 этаж
        h2.SectionTitle.ApartmentChoosing_title.hidden-mdPlus Выбор квартиры
        .ApartmentChoosing_imgWrapper
          img.ApartmentChoosing_img.hidden-smMinus(src="/img/house.webp", alt="5 этаж")
          a.ApartmentChoosing_link.hidden-mdPlus(href="#", data-action="openHousePlan")
            img.ApartmentChoosing_img(src="/img/house_tablet.png", alt="5 этаж")
    .MapSection
      include ./blocks/LeftSidebar
      .MapSection_container
        h2.SectionTitle.MapSection_title Инфраструктура
        .MapSection_map#infrasMap
        .MapIcons.MapSection_icons
          ul.MapIcons_list
            li.MapIcons_item
              button(type="button" data-icons-type="0").MapIcon.MapIcon-active
                include includes/map_icons/all
                .MapIcon_title Все
            li.MapIcons_item
              button(type="button" data-icons-type="1").MapIcon
                include includes/map_icons/health
                .MapIcon_title Здоровье
            li.MapIcons_item
              button(type="button" data-icons-type="2").MapIcon
                include includes/map_icons/education
                .MapIcon_title Образование
            li.MapIcons_item
              button(type="button" data-icons-type="3").MapIcon
                include includes/map_icons/food
                .MapIcon_title Питание
            li.MapIcons_item
              button(type="button" data-icons-type="4").MapIcon
                include includes/map_icons/sport
                .MapIcon_title Спорт
            li.MapIcons_item
              button(type="button" data-icons-type="5").MapIcon
                include includes/map_icons/shop
                .MapIcon_title Магазины
            li.MapIcons_item
              button(type="button" data-icons-type="6").MapIcon
                include includes/map_icons/park
                .MapIcon_title Парки
            li.MapIcons_item
              button(type="button" data-icons-type="7").MapIcon
                include includes/map_icons/water
                .MapIcon_title Водоемы
            li.MapIcons_item
              button(type="button" data-icons-type="8").MapIcon
                include includes/map_icons/mall
                .MapIcon_title ТЦ
        .MapSection_textAndStatistics
          .MapSection_text
            p Два дома расположены на улице Серафимовича, #[br.hidden-smMinus]в 500 метрах от станции метро «Площадь Маркса». #[br.hidden-smMinus]В районе хорошо развита социальная и транспортная инфраструктура, район прекрасно подходит для комфортной жизни.
          .Statistics.Statistics-inline.MapSection_statistics
            .Statistics_label Все рядом
            ul.Statistics_list
              li.Statistics_item
                .Statistics_number 10
                .Statistics_text Детских садов
              li.Statistics_item
                .Statistics_number 25+
                .Statistics_text Ресторанов
              li.Statistics_item
                .Statistics_number 14
                .Statistics_text Школ
              li.Statistics_item
                .Statistics_number 20+
                .Statistics_text Магазинов
    .GallerySection.Tabs.Tabs-gallerySection
      include ./blocks/LeftSidebar-white
      .GallerySection_container
        .Tabs_listWrapper
          ul.Tabs_list
            li.Tabs_item.Tabs_item-active(data-index="0") Галерея
            li.Tabs_item(data-index="1") Ход строительства
        .Tabs_container
          - for (var i = 0; i < 2; i++)
            if i == 0
              - var style = 'display: block;';
            else
              - var style = '';
            .Tabs_content(style=style)
              .GallerySlider(id='GallerySlider' + i)
                .swiper-container
                  .swiper-wrapper.GallerySlider_wrapper
                    - for(var j = 0; j < 4; j++) {
                      .swiper-slide.GallerySlider_slide.hidden-smMinus
                        img(src="img/gallery_img.jpg", alt="")
                      .swiper-slide.GallerySlider_slide.hidden-mdPlus.hidden-xs
                        img(src="img/gallery_img_tablet.jpg", alt="")
                      .swiper-slide.GallerySlider_slide.hidden-smPlus
                        img(src="img/gallery_img_mob.jpg", alt="")
                    - }
                  .SwiperPagination.GallerySlider_pagination
              button.CircleBtn.CircleBtn-brown.CircleBtn-whiteBg.CircleBtn-next.GallerySlider_circleBtn.hidden-smMinus(
                type="button"
              )
    .FormSection
      include ./blocks/LeftSidebar
      .FormSection_left
        form.Form.Form-formSectionLeft
          h2.SectionTitle.Form_title Появились вопросы?
          .Form_wrapper
            .Form_item
              input.Form_text(type="tel", name="phone", placeholder="Ваш телефон")
            .Form_item
              button.Form_submitBtn(type="submit") Отправить заявку
          .Form_description
            p Отправляя форму, вы соглашаетесь #[br.hidden-smPlus]с условиями #[a(href="#") обработки персональных данных]
      .FormSection_right
        h2.SectionTitle.SectionTitle-white.FormSection_title Перейти к выбору квартиры
        a.CircleBtn.CircleBtn-small.CircleBtn-arrowTop(href="#ApartmentChoosing")
      a.CircleBtn.CircleBtn-small.CircleBtn-orange.CircleBtn-darkBlueBg.CircleBtn-arrowTop.FormSection_circleBtn.hidden-smMinus(
        href="#HeroSection"
      )
  script(type="application/json" id="infrasObj").
    [{
    "coords": {
    "lat": 54.9810530, "lng": 82.877835
    },
    "type": 1,
    "ico": "/img/map_icons/health.svg"
    },
    {
    "coords": {
    "lat": 54.9801530, "lng": 82.879835
    },
    "type": 2,
    "ico": "/img/map_icons/education.svg"
    },
    {
    "coords": {
    "lat": 54.9811530, "lng": 82.879835
    },
    "type": 3,
    "ico": "/img/map_icons/food.svg"
    },
    {
    "coords": {
    "lat": 54.9791530, "lng": 82.880835
    },
    "type": 4,
    "ico": "/img/map_icons/sport.svg"
    },
    {
    "coords": {
    "lat": 54.9779530, "lng": 82.870835
    },
    "type": 5,
    "ico": "/img/map_icons/shop.svg"
    },
    {
    "coords": {
    "lat": 54.9780530, "lng": 82.875835
    },
    "type": 6,
    "ico": "/img/map_icons/park.svg"
    },
    {
    "coords": {
    "lat": 54.9790530, "lng": 82.875035
    },
    "type": 7,
    "ico": "/img/map_icons/water.svg"
    },
    {
    "coords": {
    "lat": 54.9799530, "lng": 82.874035
    },
    "type": 8,
    "ico": "/img/map_icons/mall.svg"
    }]
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW93iAmXx_qNSJ-PYhm8MJTA7XZE953V8")
